.project-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 800;
  }

  .project-modal-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .modal-content {
    background: white;
    border-radius: 12px;
    padding: 0;
    width: 70vw;
    height: 39.375vw;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
  
  .video-container,
  .project-details {
    display: flex;
    color: black;
  }

  .project-details-image {
    width: 40%;
    height: 100%;
  }

  .project-details-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0em 2em;
  }

  .project-details-title {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .project-details-section-title {
    font-size: 0.8em;
    margin-bottom: 1.5em;
    color: #ff9200;
  }
  
  .background-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .background-section-header {
    font-size: 0.6em;
    margin-bottom: 0.5em;
  }

  .background-section-content {
    text-align: left;
    font-size: 0.5em;
    margin-bottom: 1em;
  }

  .video-container video {
    width: 100%;
    height: auto;
    border-radius: 0 0 12px 12px;
    cursor: url('../assets/PlayButton.png'), auto;
  }
  
  .toggle-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff9200;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button:hover {
    background-color: #ff7a00;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff9200;
    border: none;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .close-button:hover {
    background-color: #ff7a00;
  }
  
  
  .modal-content .video-container img {
    width: 100%;
    border-radius: 12px 12px 0 0;
  }
  