/* General container */
.work-page-container {
  background-color: #000;
  color: #fff;
  padding: 10vh 3vw; /* Reduced padding for compact fit */
  min-height: 100vh;
  display: flex;
  max-width: 100vw;
}

/* Header section */
.work-page-header {
  font-size: 5vw; /* Slightly smaller header text */
  font-weight: bold;
  text-align: left;
  word-break: break-all;
  margin-bottom: 0 !important;
  width: 49vw;
}

/* Content layout */
.work-page-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 49vw;
}

.work-section {
  width: 45vw;
  margin-top: 5vh; /* Reduced space between sections */
}

/* Text section */
.work-page-text {
  margin-right: 5vw; /* Reduced margin for text section */
}

.work-page-video-container {
  margin-top: 8vh; /* Reduced margin for video container */
}

/* Video section */
.work-page-video video {
  max-height: 80vh;
  width: auto;
  /* */
}

.work-page-video video {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Section titles */
.work-details-section-title {
  font-size: 1.84vw; /* Smaller section titles */
  font-weight: bold;
  color: #ff9200;
  margin-bottom: 1.5vh;
}

/* Section headers */
.work-section-text-container {
  /* Reduced space between sections */
}

/* Subheaders */
.work-section-subheader {
  font-size: 1vw; /* Smaller subheader text */
  font-weight: 600;
  margin-bottom: 1vh;
}

/* Paragraph content */
.work-section-content {
  font-size: 0.95vw; /* Reduced paragraph text size */
  line-height: 1.4em;
  margin-bottom: 1.5vh; /* Less margin between paragraphs */
}

/* Back button */
.back-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1vw; /* Smaller button text */
  cursor: pointer;
  margin-bottom: 3.75vh;
}

/* Carousel container */
.carousel-container {
  overflow: hidden; /* Hide overflowing content */
  position: relative;
  width: 95vw;
}

.carousel-track {
  display: flex;
  white-space: nowrap; /* Keep items in one line */
}

.carousel-item {
  flex-shrink: 0;
  width: auto; /* Adjust this to control the size of each item */
  height: 30vh; /* Set a fixed height */
  margin-right: 2vw;
}

.carousel-item img,
.carousel-item video {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures no cropping of content */
  border-radius: 10px;
}

.carousel-track {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2vh;
  animation: 360s slide infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel-container:hover .carousel-track {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
